.menu-group {
    position: fixed;
    top: 1px;
    left: 1px;
    display: flex;
    flex-direction: row;
}

.context-menu {
    margin-bottom: 10px;
}

.menu-button {
    color: #fff !important;
}

.menu-button:hover {
    background-color: rgba(131, 246, 8, 0.75) !important;
}

