.custom-button {
    background-color: green !important;
    color: white;
    height: 56px !important;
    margin-top: 15px !important;
}

.custom-button:hover {
    background-color: darkgreen !important;
}

.custom-input {
    height: 56px !important;
    border: 2px solid green !important;
}

.MuiFormLabel-root {
    color: green !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 50px;
}

.MuiFormLabel-root:focus,
.MuiFormLabel-root:hover,
.MuiFormLabel-root:active {
    border-color: green !important;
}

.custom-container {
    padding: 80px;
    background-color: #474747;
    border-radius: 10px;
    border: 2px solid green;
}