.custom-button {
    background-color: rgba(131, 246, 8, 0.45) !important;
    color: white;
    height: 56px !important;
    margin-top: 15px !important;
}

.custom-button:hover {
    background-color: rgba(131, 246, 8, 0.75) !important;
}

.MuiFormLabel-root {
    color: rgba(131, 246, 8, 0.45) !important;
}

.MuiInputLabel-animated.Mui-focused {
    color: rgba(131, 246, 8, 0.75) !important;
}

.MuiInputBase-root {
    color: rgba(131, 246, 8, 0.75) !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: rgba(131, 246, 8, 0.45) !important;
    border-width: 2px !important;
}

.error .MuiOutlinedInput-notchedOutline {
    border-color: red !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-width: 3px !important;
    border-color: rgba(131, 246, 8, 0.75) !important;
}

.custom-container {
    padding: 80px;
    background-color: rgba(71, 71, 71, 0.35);
    border-radius: 15px;
    border: 10px solid rgba(131, 246, 8, 0.75);
}

.error-message {
    margin-top: 15px !important;
}

.custom-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

